<nav class="navbar navbar-expand-lg bg-primary">
	<div class="container-fluid">
		<div>
			<a class="h1 navbar-brand text-light text-success ms-3 me-0" href="{{ path('app_home') }}">Sushi</a>
			<a class="h1 navbar-brand text-success" href="{{ path('app_home') }}">Garden</a>
		</div>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav d-flex flex-row m-auto justify-content-center">
				<li class="nav-item">
					<a class="nav-link active text-light me-5" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active text-light ms-5 me-5" aria-current="page" href="{{ path('category_index') }}">La carte</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active text-light ms-5 me-5" aria-current="page" href="{{ path('app_worker') }}">L'équipe</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active text-light ms-5" aria-current="page" href="{{ path('app_message') }}">Nous contacter</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
