{% extends 'base.html.twig' %}

{% block title %}
    Sushi Garden - {{category.name}}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4 text-center">Nos {{ category.name }}</h1>
        <a href="{{ path('category_index') }}">
		Retour à la liste des catégories de produits
	</a>
        <div class="row g-5 mb-3 mt-2">
            {% for product in category.products %}
                <div class="col-lg-3 col-6">
                    <div class="card h-100">
                        <img src="{{ vich_uploader_asset(product) }}" class="card-img-top" alt="...">
                        <div class="card-body d-flex flex-column">
                            <p class="card-title text-uppercase fw-bold text-center">{{ product.name }}</p>
                            <p class="card-text text-center">{{ product.description }}</p>
                            <p class="card-text text-center">{{ product.price }} €</p>
                        </div>
                    </div>
                </div>
            {% else %}
        Aucun produit trouvé.
    {% endfor %}
        </div>
    </div>
{% endblock %}
